body {
    background-image: url(../images/abstract.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 0px;
}

.page-header {
    text-align: center;
    background-color: #d7f8de;
    margin-top: 0px;
    padding-top: 10px;
    border: #f98236; 
    border-bottom-style: solid;   
}

.input-group {
    margin-top: 25px;
    width: 50%;
}

.jumbotron {
    margin-top: 25px;
    background-color: #30723f;
    padding: 10px;
     
}

#giphy-display {
    background-color: #30723f;
}
#giphy-display img[data-state='still']{
    padding:50px;
    background-color: #d7f8de;
 
}    
#giphy-display img[data-state='animated']{
    padding:50px;
    background-color: #1a3f22;
}

#giphy-buttons {
    padding-left:56px;
}